h3 {
    padding-top: 25px;
    text-align: center;
    color: darkred;
    cursor: pointer;
}

body {
    background-color: black;
}

h1 {
    padding-top: 50px;
    color: darkred;
    text-align: center;
    font-style: italic;
    font-size: 60px;
}